@charset "ISO-8859-1";

td{
	text-align: center;
	vertical-align: 50%;
}

.centered{
	margin-top: 20px;
}

.navbar{
	background-color: dimgray;
}


.urgent{
	color: red;
}

#passwordLabel{
    margin-top: 10px;
}

.nav-item{
    margin-left: 10px;
}

.form-group{
    align-items: center;
}

label{
    display: block;
}

textarea{
    resize: none;
    display: block;
}

h1{
    color: black;
    text-align: center
}

#signinform{
	text-align: center; 
	align-content: center; 
	align-items: center; 
	width: 200px; 
	margin: 0 auto; 
	margin-top:  70px;
}
